ai.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Filtro_mensaje').item.json.mensaje_usuario }}\n",
        "options": {
          "systemMessage": "## Rol\nEres el asistente virtual de VINA Propiedades para WhatsApp vía Chatwoot.\n\nTu objetivo es ayudar a clientes interesados en comprar o rentar propiedades en Mérida, Yucatán y alrededores, con atención amable, profesional, clara y natural.\n\n## Reglas generales\n- Responde siempre en español.\n- Mantén un tono humano, cordial y profesional.\n- No inventes propiedades, precios, ubicaciones, fotos ni disponibilidad.\n- No menciones nombres de herramientas, APIs, nodos, workflows ni procesos internos.\n- No muestres IDs internos, credenciales, URLs técnicas ni datos del sistema.\n- Mantén mensajes cortos y fáciles de leer en WhatsApp.\n- Si no encuentras coincidencias claras, dilo con transparencia y ofrece alternativas cercanas.\n- Si el cliente pide hablar con una persona o asesor humano, usa la herramienta desactivar_bot.\n\n## Herramientas disponibles\n- info_negocio: consultar información oficial de la empresa.\n- buscar_propiedades_easybroker: buscar propiedades por operación, precio, recámaras y revisar coincidencias por zona o texto.\n- detalle_propiedad_easybroker: obtener el detalle completo de una propiedad específica, incluyendo fotos.\n- desactivar_bot: derivar la conversación a un agente humano.\n- ver_disponibilidad, agendar_cita, cancelar_cita: solo úsalas si en tu operación realmente siguen siendo necesarias.\n\n## Cuándo consultar propiedades\nDebes usar primero buscar_propiedades_easybroker cuando el cliente pregunte por:\n- casas, departamentos, terrenos, locales o inmuebles\n- una zona o fraccionamiento como Caucel, Conkal, Las Américas, etc.\n- una propiedad por precio\n- recámaras, baños, estacionamientos o presupuesto\n- propiedades publicadas, promociones, opciones disponibles o catálogo\n\nDebes usar detalle_propiedad_easybroker cuando:\n- ya tengas una propiedad probable\n- el cliente pida fotos\n- el cliente pida más detalles de una opción concreta\n\n## Cómo interpretar la búsqueda\n- Si el cliente menciona una zona como \"Caucel\", busca y revisa coincidencias en título, ubicación y descripción.\n- Si el cliente menciona un precio, úsalo como referencia principal.\n- Si hay varias coincidencias, resume máximo 3 opciones.\n- Si hay una coincidencia clara, comparte resumen y pregunta si desea fotos o más detalles.\n- Si el cliente pide fotos, usa detalle_propiedad_easybroker y comparte hasta 3 URLs de fotos en líneas separadas.\n- Si no hay fotos disponibles, dilo claramente.\n\n## Formato de respuesta recomendado\nCuando sí encuentres una propiedad:\n- nombre o título\n- zona\n- precio\n- recámaras / baños / estacionamientos si están disponibles\n- pregunta de seguimiento corta\n\nEjemplo:\n“Sí, encontré una opción en Ciudad Caucel:\n• Casa de 3 recámaras\n• Precio: $2,390,000 MXN\n• 2 baños y 2 estacionamientos\n\nSi gustas, te comparto las fotos o más detalles.”\n\nCuando haya varias:\n“Encontré estas opciones en la zona:\n1. Casa en Ciudad Caucel — $2,390,000 MXN\n2. Casa en Gran Santa Fe — $2,650,000 MXN\n3. Casa en Las Américas — $2,850,000 MXN\n\n¿Te refieres a alguna por precio o por número de recámaras?”\n\nCuando no haya resultado:\n“No encontré una coincidencia exacta en este momento, pero sí puedo revisar opciones cercanas por zona, precio o tipo de propiedad. ¿Qué presupuesto o número de recámaras buscas?”\n\n## Información general\nSi el cliente pregunta por la empresa, proceso, ubicación de oficina, horarios o información general, usa info_negocio.\n\n## Derivación humana\nSi el cliente pide hablar con una persona, asesor, ejecutivo o humano, usa desactivar_bot y responde de forma amable indicando que lo canalizarás con un asesor."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        400
      ],
      "id": "93c4ca1a-11f2-43a5-b0fc-c1c2e4303b2d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -496,
        640
      ],
      "id": "576480f5-6583-4537-a188-a91ed9c7d405",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OgNzsQX6m3zLKdrn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.conversation.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -320,
        640
      ],
      "id": "192146b5-a112-41cd-891a-592a3ac6007f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        352
      ],
      "id": "5275af57-bc68-4cd3-8f26-8c855eac660b",
      "name": "Webhook",
      "webhookId": "7deed758-5a55-4083-a34c-6fb05d17e046"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.conversation.messages[0].attachments[0] }}",
                    "rightValue": "=null",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "6ded9cbb-3486-4503-ba6b-dd611bdbc914"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3660426-c7db-480b-9b07-58b4b5ca7bf2",
                    "leftValue": "={{ $json.body.conversation.messages[0].attachments[0].file_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -912,
        416
      ],
      "id": "9928b6b9-f8a1-40d2-a497-8a1b0cc6321f",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.body.conversation.messages[0].attachments[0].data_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        480
      ],
      "id": "b92a48f7-dfbe-4fb7-af59-54628954fc25",
      "name": "Descargar_Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -736,
        288
      ],
      "id": "7313c7ba-4cd3-43cd-ba6c-42e9a9610f77",
      "name": "Transcribir",
      "credentials": {
        "openAiApi": {
          "id": "OgNzsQX6m3zLKdrn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a495720-f954-4fb3-9791-d7ce7bddaacc",
              "name": "mensaje_usuario",
              "value": "={{$json.text || $json.body.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        400
      ],
      "id": "f7eef1ed-4dc8-446a-83e7-d37c3c3b8f62",
      "name": "Filtro_mensaje"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Nombre + Tratamiento`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        0,
        640
      ],
      "id": "d9552326-72f6-4d8a-af4c-914d9b5f1101",
      "name": "agendar_cita",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tmkDCwJjdInjJTZl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        640
      ],
      "id": "7e7b7d24-75ee-41eb-9cdf-034138d3c4af",
      "name": "cancelar_cita",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tmkDCwJjdInjJTZl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -320,
        256
      ],
      "id": "2c677fb7-bd58-4075-b5ef-db48542777b0",
      "name": "info_negocio",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "UqxZCAuZE9saGcmp",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/148861/conversations/{{ $('Webhook').item.json.body.conversation.id }}/custom_attributes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": {\n    \"desactivar_bot\": \"true\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -112,
        224
      ],
      "id": "7f0a5a72-45ad-4bf3-af48-a56d1853e0c1",
      "name": "desactivar_bot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consulta los eventos que hay agendado en una franja horaria de un día determinado. Si no hay ningún evento puede agendar cita sin problema, si hay un o más eventos, solo podrá agendralos en horario que no coincidan.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -160,
        640
      ],
      "id": "47c0464f-eaa8-43a1-a68b-d14b7feb5369",
      "name": "ver_disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tmkDCwJjdInjJTZl",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente conectado a Chatwoot",
        "height": 768,
        "width": 1824,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1536,
        48
      ],
      "typeVersion": 1,
      "id": "05fce42a-dc53-463a-ad17-dbe7ada28167",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b64dd9c8-27be-4668-afb4-cea0f358bbac",
              "leftValue": "={{ $json.body.conversation.custom_attributes.desactivar_bot }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        560
      ],
      "id": "7f4497a3-fa55-4b5f-95ed-c72db6e4ae3a",
      "name": "Revisa si tiene etiqueta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6333b81d-9a22-47d0-95c2-b1b25ed1b294",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "=incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        352
      ],
      "id": "b0dab38a-85c8-4b44-9434-e96a4339ba46",
      "name": "Outgoing/Incoming"
    },
    {
      "parameters": {
        "content": "## Incoming/Outgoing\nAñadido para solo pasar por el flujo mensajes entrantes y no salientes (evitar bucle)",
        "height": 272,
        "width": 272,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        224
      ],
      "typeVersion": 1,
      "id": "dcba6ae2-6f64-4338-bda7-da00a57a13e3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content_type",
              "value": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        400
      ],
      "id": "56899d6e-5e71-49c5-95f8-49b7a04b5419",
      "name": "Responder_Mensaje",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.easybroker.com/v1/properties",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "=20"
            },
            {
              "name": "page",
              "value": "=1"
            },
            {
              "name": "search[operation_type]",
              "value": "={{ $fromAI('operation_type','Tipo de operación: sale o rental','string') }}"
            },
            {
              "name": "search[min_price]",
              "value": "={{ $fromAI('min_price','Precio mínimo en número entero, por ejemplo 2000000','number') }}"
            },
            {
              "name": "search[max_price]",
              "value": "={{ $fromAI('max_price','Precio máximo en número entero, por ejemplo 2600000','number') }}"
            },
            {
              "name": "search[min_bedrooms]",
              "value": "={{ $fromAI('min_bedrooms','Mínimo de recámaras','number') }}"
            },
            {
              "name": "search[min_bathrooms]",
              "value": "={{ $fromAI('min_bathrooms','Mínimo de baños','number') }}"
            },
            {
              "name": "search[min_parking_spaces]",
              "value": "={{ $fromAI('min_parking_spaces','Mínimo de cajones de estacionamiento','number') }}"
            },
            {
              "name": "search[property_types][]",
              "value": "={{ $fromAI('property_type','Tipo de propiedad en inglés si aplica: house, apartment, land, office, commercial, local, warehouse','string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Authorization",
              "value": "b6vq11mphmowymtjjkz84er9j4n2j6"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -240,
        80
      ],
      "id": "3aacb976-33d7-4687-aebb-e69d37b3f4de",
      "name": "buscar_propiedades_easybroker"
    },
    {
      "parameters": {
        "url": "=https://api.easybroker.com/v1/properties/{{ $fromAI('property_id','ID público o ID de la propiedad elegida para consultar detalle y fotos','string') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Authorization",
              "value": "b6vq11mphmowymtjjkz84er9j4n2j6"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        80,
        128
      ],
      "id": "f44c4cac-e378-4f4e-8319-dd5cb7def23a",
      "name": "detalle_propiedad_easybroker"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Responder_Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Outgoing/Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Filtro_mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar_Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar_Audio": {
      "main": [
        [
          {
            "node": "Transcribir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir": {
      "main": [
        [
          {
            "node": "Filtro_mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro_mensaje": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendar_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "info_negocio": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "desactivar_bot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ver_disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Revisa si tiene etiqueta": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outgoing/Incoming": {
      "main": [
        [
          {
            "node": "Revisa si tiene etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_propiedades_easybroker": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "detalle_propiedad_easybroker": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6c96fb37a85ef9ad7930628f07f9ddf776c4c43c973c12cf42f4d1b5d438bbb"
  }
}
