fb_lead_easybroker_chatwoot_final_corregido.json
{
  "name": "fb_lead_to_easybroker_chatwoot_caucel_corregido",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1o0gBWM1Qh37XCGL1xzI1ZzBz5nA4ixYsC6H_vVz1FoA/edit?gid=1845513167#gid=1845513167",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 914132591,
          "mode": "list",
          "cachedResultName": "caucel 1.58mdp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o0gBWM1Qh37XCGL1xzI1ZzBz5nA4ixYsC6H_vVz1FoA/edit#gid=914132591"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1080,
        300
      ],
      "id": "4729ffb0-ed29-40b8-af4f-c57438a84de1",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pCovOCRQyRuiMC7P",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nconst rawPhone = String(row.phone_number || row.telefono || '').trim();\n\n// Limpieza para formatos como :p512777XXXX, p:521999..., +52..., etc.\nlet normalized = rawPhone\n  .replace(/^\\s*:?p\\s*/i, '')\n  .replace(/[^\\d+]/g, '');\n\n// Conservamos solo dígitos para validar longitud\nlet digits = normalized.replace(/\\D/g, '');\n\n// Reglas para MX/WhatsApp\nif (digits.length === 10) {\n  digits = `52${digits}`;\n} else if (digits.length === 11 && digits.startsWith('1')) {\n  digits = `52${digits}`;\n}\n\nif (digits.length === 12 && digits.startsWith('52')) {\n  normalized = `+${digits}`;\n} else if (digits.length === 13 && digits.startsWith('521')) {\n  normalized = `+${digits}`;\n} else {\n  normalized = `+${digits}`;\n}\n\nconst campaign = String(row.campaign_name || '').toLowerCase().trim();\nconst ad = String(row.ad_name || '').toLowerCase().trim();\nconst form = String(row.form_name || '').toLowerCase().trim();\n\nlet property = {\n  property_id: 'REEMPLAZAR_PUBLIC_ID_CAUCEL',\n  property_title: 'Casa en Caucel',\n  property_zone: 'Caucel',\n  template_name: 'caucel_info',\n  template_language: 'es_MX',\n  source_name: 'Facebook Lead Ads - Caucel'\n};\n\nif (campaign.includes('caucel') || ad.includes('caucel') || form.includes('caucel')) {\n  property = {\n    property_id: 'REEMPLAZAR_PUBLIC_ID_CAUCEL',\n    property_title: 'Casa en Caucel',\n    property_zone: 'Caucel',\n    template_name: 'caucel_info',\n    template_language: 'es_MX',\n    source_name: 'Facebook Lead Ads - Caucel'\n  };\n}\n\nconst paymentMethod = row['¿con_qué_forma_de_pago_o_crédito_planeas_comprar?'] || row['¿cuál_es_tu_método_de_compra_o_tipo_de_crédito?'] || '';\nconst buyTimeline = row['¿para_cuándo_necesitas_tener_lista_tu_casa?'] || row['¿qué_tan_pronto_te_gustaría_mudarte?'] || '';\n\n// Permite escoger plantilla desde la fila del Sheet (si viene), con fallback por propiedad\nconst templateNameFromSheet = String(row.template_name || row.template || row.chatwoot_template || '').trim();\nconst templateLanguageFromSheet = String(row.template_language || row.chatwoot_template_language || '').trim();\n\nreturn [{\n  json: {\n    ...row,\n    phone_original: rawPhone,\n    phone_clean: normalized,\n    phone_digits: digits,\n    payment_method: paymentMethod,\n    buy_timeline: buyTimeline,\n    template_name_selected: templateNameFromSheet || property.template_name,\n    template_language_selected: templateLanguageFromSheet || property.template_language,\n    template_category_selected: 'MARKETING',\n    ...property\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        300
      ],
      "id": "4790792f-11c2-4373-9b42-1de929ce17a5",
      "name": "Normalizar_y_mapear_propiedad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.easybroker.com/v1/contact_requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Authorization",
              "value": "b6vq11mphmowymtjjkz84er9j4n2j6"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"name\": \"{{$json.full_name}}\",\n  \"phone\": \"{{$json.phone_clean.replace('+', '')}}\",\n  \"property_id\": \"{{$json.property_id}}\",\n  \"message\": \"Forma de pago: {{$json.payment_method}}\\nCuándo planea comprar: {{$json.buy_timeline}}\\nCampaña: {{$json.campaign_name}}\\nAnuncio: {{$json.ad_name}}\",\n  \"source\": \"{{$json.source_name}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -600,
        300
      ],
      "id": "a2fe369b-271e-46c8-bf55-abe687eea8ff",
      "name": "EasyBroker_Create_Contact_Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -360,
        300
      ],
      "id": "d8cff3c0-3330-4f47-a3a5-a3de951792b7",
      "name": "Merge_row_y_easybroker"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"source_id\": \"{{$json.chatwoot_contact_source_id}}\",\n  \"inbox_id\": 4,\n  \"contact_id\": {{$json.chatwoot_contact_id}},\n  \"status\": \"open\",\n  \"custom_attributes\": {\n    \"source\": \"facebook_lead_ads\",\n    \"campaign_name\": \"{{$json.campaign_name}}\",\n    \"ad_name\": \"{{$json.ad_name}}\",\n    \"payment_method\": \"{{$json.payment_method}}\",\n    \"buy_timeline\": \"{{$json.buy_timeline}}\",\n    \"property_id\": \"{{$json.property_id}}\",\n    \"property_title\": \"{{$json.property_title}}\",\n    \"property_zone\": \"{{$json.property_zone}}\",\n    \"template_name_selected\": \"{{$json.template_name_selected}}\",\n    \"template_language_selected\": \"{{$json.template_language_selected}}\",\n    \"sheet_row_id\": \"{{$json.id}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1620,
        300
      ],
      "id": "17be8805-9720-4db5-8071-e91ffb4cb9d6",
      "name": "Chatwoot_Create_Conversation",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations/{{ $json.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"Lead procesado desde Google Sheets/Facebook Ads\\n\\nNombre: {{$('Normalizar_y_mapear_propiedad').item.json.full_name}}\\nTeléfono original: {{$('Normalizar_y_mapear_propiedad').item.json.phone_original}}\\nTeléfono normalizado: {{$('Normalizar_y_mapear_propiedad').item.json.phone_clean}}\\nEstado contacto Chatwoot: {{$('Normalizar_ids_contacto_chatwoot').item.json.chatwoot_contact_status}}\\nPlantilla seleccionada: {{$('Normalizar_y_mapear_propiedad').item.json.template_name_selected}} ({{$('Normalizar_y_mapear_propiedad').item.json.template_language_selected}})\\nCampaña: {{$('Normalizar_y_mapear_propiedad').item.json.campaign_name}}\\nAnuncio: {{$('Normalizar_y_mapear_propiedad').item.json.ad_name}}\\nPropiedad: {{$('Normalizar_y_mapear_propiedad').item.json.property_title}}\\nForma de pago: {{$('Normalizar_y_mapear_propiedad').item.json.payment_method}}\\nTiempo de compra: {{$('Normalizar_y_mapear_propiedad').item.json.buy_timeline}}\\nEasyBroker status: {{$('EasyBroker_Create_Contact_Request').item.json.status || 'sin_status'}}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true,\n  \"content_type\": \"text\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2340,
        300
      ],
      "id": "52292a92-923c-4c12-ad33-dd116426a3a8",
      "name": "Chatwoot_Private_Note",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts/search?q={{ encodeURIComponent($json.phone_clean) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -120,
        300
      ],
      "id": "8fb91930-90c3-43af-8f9f-27d63bd979ad",
      "name": "Chatwoot_Search_Contact_By_Phone",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Merge_row_y_easybroker').item.json;\nconst response = $json;\nconst payload = Array.isArray(response.payload) ? response.payload : [];\n\nconst clean = String(base.phone_clean || '');\nconst digits = String(base.phone_digits || '');\n\nconst found = payload.find((c) => {\n  const phone = String(c.phone_number || '');\n  const phoneDigits = phone.replace(/\\D/g, '');\n  return phone === clean || phoneDigits === digits || phoneDigits === `52${digits}`;\n}) || payload[0] || null;\n\nconst inbox4 = found?.contact_inboxes?.find(ci => Number(ci?.inbox?.id) === 4) || null;\n\nreturn [{\n  json: {\n    ...base,\n    chatwoot_contact_exists: Boolean(found),\n    chatwoot_contact_id: found?.id || null,\n    chatwoot_contact_source_id: inbox4?.source_id || null,\n    chatwoot_contact_raw: found || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        300
      ],
      "id": "41330347-21a6-485a-972f-0f2042610680",
      "name": "Resolver_contacto_chatwoot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd0fb7f3-8ad6-4187-a7a0-2668b8f7d6d3",
              "leftValue": "={{$json.chatwoot_contact_exists}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        300
      ],
      "id": "e37a30b6-7863-45a8-b89b-662347f6b7c5",
      "name": "IF_Contacto_Existe"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts/{{$json.chatwoot_contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{$json.full_name}}\",\n  \"phone_number\": \"{{$json.phone_clean}}\",\n  \"custom_attributes\": {\n    \"source\": \"facebook_lead_ads\",\n    \"platform\": \"{{$json.platform}}\",\n    \"campaign_id\": \"{{$json.campaign_id}}\",\n    \"campaign_name\": \"{{$json.campaign_name}}\",\n    \"adset_id\": \"{{$json.adset_id}}\",\n    \"adset_name\": \"{{$json.adset_name}}\",\n    \"ad_id\": \"{{$json.ad_id}}\",\n    \"ad_name\": \"{{$json.ad_name}}\",\n    \"form_id\": \"{{$json.form_id}}\",\n    \"form_name\": \"{{$json.form_name}}\",\n    \"lead_status\": \"{{$json.lead_status}}\",\n    \"state\": \"{{$json.state}}\",\n    \"payment_method\": \"{{$json.payment_method}}\",\n    \"buy_timeline\": \"{{$json.buy_timeline}}\",\n    \"property_id\": \"{{$json.property_id}}\",\n    \"property_title\": \"{{$json.property_title}}\",\n    \"property_zone\": \"{{$json.property_zone}}\",\n    \"easybroker_source\": \"{{$json.source_name}}\",\n    \"sheet_row_id\": \"{{$json.id}}\",\n    \"created_time\": \"{{$json.created_time}}\",\n    \"chatwoot_contact_status\": \"existing_updated\"\n  }\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        600,
        180
      ],
      "id": "b66f913e-cd45-4838-a618-1df37f9385a8",
      "name": "Chatwoot_Update_Existing_Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"inbox_id\": 4,\n  \"name\": \"{{$json.full_name}}\",\n  \"email\": \"\",\n  \"phone_number\": \"{{$json.phone_clean}}\",\n  \"identifier\": \"{{$json.id}}\",\n  \"custom_attributes\": {\n    \"source\": \"facebook_lead_ads\",\n    \"platform\": \"{{$json.platform}}\",\n    \"campaign_id\": \"{{$json.campaign_id}}\",\n    \"campaign_name\": \"{{$json.campaign_name}}\",\n    \"adset_id\": \"{{$json.adset_id}}\",\n    \"adset_name\": \"{{$json.adset_name}}\",\n    \"ad_id\": \"{{$json.ad_id}}\",\n    \"ad_name\": \"{{$json.ad_name}}\",\n    \"form_id\": \"{{$json.form_id}}\",\n    \"form_name\": \"{{$json.form_name}}\",\n    \"lead_status\": \"{{$json.lead_status}}\",\n    \"state\": \"{{$json.state}}\",\n    \"payment_method\": \"{{$json.payment_method}}\",\n    \"buy_timeline\": \"{{$json.buy_timeline}}\",\n    \"property_id\": \"{{$json.property_id}}\",\n    \"property_title\": \"{{$json.property_title}}\",\n    \"property_zone\": \"{{$json.property_zone}}\",\n    \"easybroker_source\": \"{{$json.source_name}}\",\n    \"sheet_row_id\": \"{{$json.id}}\",\n    \"created_time\": \"{{$json.created_time}}\",\n    \"chatwoot_contact_status\": \"created\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        600,
        420
      ],
      "id": "0d5dd301-8b31-4ab6-9592-9b0ac5053721",
      "name": "Chatwoot_Create_Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prior = $('Resolver_contacto_chatwoot').item.json;\nconst response = $json || {};\n\nconst payload = response.payload || {};\nconst contactFromPayload = payload.contact || null;\nconst contactInboxFromPayload = payload.contact_inbox || null;\n\nconst pickFirstObject = (value) => {\n  if (!value) return null;\n  if (Array.isArray(value)) {\n    for (const item of value) {\n      const found = pickFirstObject(item);\n      if (found) return found;\n    }\n    return null;\n  }\n  return (typeof value === 'object') ? value : null;\n};\n\n// Preferimos rutas conocidas de Chatwoot (payload.contact) antes de objetos genéricos\nconst candidates = [\n  contactFromPayload,\n  response.contact,\n  response.data?.contact,\n  response.result?.contact,\n  response.data,\n  response.result,\n  response,\n].filter(Boolean);\n\nlet contact = null;\nfor (const c of candidates) {\n  const found = pickFirstObject(c);\n  if (found) {\n    contact = found;\n    break;\n  }\n}\n\nconst contactId = Number(\n  prior.chatwoot_contact_id ||\n  contactFromPayload?.id ||\n  contactFromPayload?.contact_id ||\n  contactInboxFromPayload?.contact_id ||\n  contact?.id ||\n  contact?.contact_id ||\n  0\n) || null;\n\nconst inboxesFromPayload = Array.isArray(contactFromPayload?.contact_inboxes) ? contactFromPayload.contact_inboxes : [];\nconst inboxesFromContact = Array.isArray(contact?.contact_inboxes) ? contact.contact_inboxes : [];\nconst inboxesFromPrior = Array.isArray(prior?.chatwoot_contact_raw?.contact_inboxes) ? prior.chatwoot_contact_raw.contact_inboxes : [];\nconst allInboxes = [...inboxesFromPayload, ...inboxesFromContact, ...inboxesFromPrior];\nconst inbox4 = allInboxes.find(ci => Number(ci?.inbox?.id) === 4 || Number(ci?.inbox_id) === 4);\n\nconst sourceId = String(\n  prior.chatwoot_contact_source_id ||\n  payload?.contact_inbox?.source_id ||\n  contactInboxFromPayload?.source_id ||\n  inbox4?.source_id ||\n  contactFromPayload?.source_id ||\n  contact?.source_id ||\n  contact?.contact_inbox?.source_id ||\n  ''\n).trim() || null;\n\nif (!contactId) {\n  throw new Error(`No se pudo resolver chatwoot_contact_id. Claves respuesta: ${Object.keys(response).join(', ')}`);\n}\n\nreturn [{\n  json: {\n    ...prior,\n    chatwoot_contact_id: contactId,\n    chatwoot_contact_source_id: sourceId,\n    chatwoot_contact_status: prior.chatwoot_contact_exists ? 'existing_updated' : 'created',\n    chatwoot_contact_raw_resolved: contactFromPayload || contact || response,\n    needs_source_lookup: !sourceId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "id": "2f3e6667-0a3c-4d3e-a18f-dde9ddc59e62",
      "name": "Normalizar_ids_contacto_chatwoot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c90ca2ea-17f3-4571-9a47-1973f687bf34",
              "leftValue": "={{!$json.needs_source_lookup}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        300
      ],
      "id": "f1a3ca1f-75f8-4927-b6fe-f534f5f65a42",
      "name": "IF_Tiene_Source_ID"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts/{{$json.chatwoot_contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        440
      ],
      "id": "8c3f19a9-c73f-4f30-bf9e-3018a74ddb0b",
      "name": "Chatwoot_Get_Contact_Detail",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalizar_ids_contacto_chatwoot').item.json;\nconst response = $json || {};\n\nconst candidates = [\n  response,\n  response.payload,\n  Array.isArray(response.payload) ? response.payload[0] : null,\n  response.data,\n  response.contact,\n  response.payload?.contact,\n  response.data?.contact,\n  response.result,\n  response.result?.contact,\n].filter(Boolean);\n\nlet contact = null;\nfor (const c of candidates) {\n  if (Array.isArray(c)) {\n    contact = c.find(i => i && typeof i === 'object') || contact;\n  } else if (c && typeof c === 'object') {\n    contact = c;\n  }\n  if (contact) break;\n}\n\nconst inboxes = Array.isArray(contact?.contact_inboxes) ? contact.contact_inboxes : [];\nconst inbox4 = inboxes.find(ci => Number(ci?.inbox?.id) === 4 || Number(ci?.inbox_id) === 4);\nconst sourceId = String(inbox4?.source_id || contact?.source_id || '').trim();\n\nif (!sourceId) {\n  throw new Error(`No se pudo resolver source_id del inbox 4 incluso consultando detalle de contacto. Respuesta: ${JSON.stringify(response)}`);\n}\n\nreturn [{\n  json: {\n    ...base,\n    chatwoot_contact_source_id: sourceId,\n    needs_source_lookup: false,\n    chatwoot_contact_detail_raw: contact || response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        440
      ],
      "id": "2f34a704-b17f-445f-84b1-b9528ff19d7c",
      "name": "Resolver_Source_ID_Desde_Detalle"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations/{{ $json.chatwoot_conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"Hola {{$('Normalizar_y_mapear_propiedad').item.json.full_name.split(' ')[0]}}, gracias por tu interés en {{$('Normalizar_y_mapear_propiedad').item.json.property_title}}.\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\",\n  \"template_params\": {\n    \"name\": \"{{$('Normalizar_y_mapear_propiedad').item.json.template_name_selected}}\",\n    \"category\": \"{{$('Normalizar_y_mapear_propiedad').item.json.template_category_selected}}\",\n    \"language\": \"{{$('Normalizar_y_mapear_propiedad').item.json.template_language_selected}}\",\n    \"processed_params\": {\n      \"1\": \"{{$('Normalizar_y_mapear_propiedad').item.json.full_name.split(' ')[0]}}\",\n      \"2\": \"{{$('Normalizar_y_mapear_propiedad').item.json.property_title}}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2100,
        300
      ],
      "id": "b69f4b63-4cb4-4f70-b946-b34645f0adca",
      "name": "Chatwoot_Send_Initial_Template",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalizar_ids_contacto_chatwoot').item.json;\nconst response = $json || {};\n\nconst conversationId = Number(\n  response.id ||\n  response.conversation_id ||\n  response.payload?.id ||\n  response.data?.id ||\n  response.result?.id ||\n  0\n) || null;\n\nif (!conversationId) {\n  throw new Error(`No se pudo resolver chatwoot_conversation_id desde Chatwoot_Create_Conversation. Respuesta: ${JSON.stringify(response)}`);\n}\n\nreturn [{\n  json: {\n    ...base,\n    chatwoot_conversation_id: conversationId,\n    chatwoot_conversation_raw: response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "id": "2f7e6f4f-7d72-4f90-bef6-cd73e5d0f5f1",
      "name": "Normalizar_conversation_id"
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Normalizar_y_mapear_propiedad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar_y_mapear_propiedad": {
      "main": [
        [
          {
            "node": "EasyBroker_Create_Contact_Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_row_y_easybroker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EasyBroker_Create_Contact_Request": {
      "main": [
        [
          {
            "node": "Merge_row_y_easybroker",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge_row_y_easybroker": {
      "main": [
        [
          {
            "node": "Chatwoot_Search_Contact_By_Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Search_Contact_By_Phone": {
      "main": [
        [
          {
            "node": "Resolver_contacto_chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver_contacto_chatwoot": {
      "main": [
        [
          {
            "node": "IF_Contacto_Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Contacto_Existe": {
      "main": [
        [
          {
            "node": "Chatwoot_Update_Existing_Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot_Create_Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Update_Existing_Contact": {
      "main": [
        [
          {
            "node": "Normalizar_ids_contacto_chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Create_Contact": {
      "main": [
        [
          {
            "node": "Normalizar_ids_contacto_chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar_ids_contacto_chatwoot": {
      "main": [
        [
          {
            "node": "IF_Tiene_Source_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Tiene_Source_ID": {
      "main": [
        [
          {
            "node": "Chatwoot_Create_Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot_Get_Contact_Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Get_Contact_Detail": {
      "main": [
        [
          {
            "node": "Resolver_Source_ID_Desde_Detalle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver_Source_ID_Desde_Detalle": {
      "main": [
        [
          {
            "node": "Chatwoot_Create_Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Create_Conversation": {
      "main": [
        [
          {
            "node": "Normalizar_conversation_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Send_Initial_Template": {
      "main": [
        [
          {
            "node": "Chatwoot_Private_Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar_conversation_id": {
      "main": [
        [
          {
            "node": "Chatwoot_Send_Initial_Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6c96fb37a85ef9ad7930628f07f9ddf776c4c43c973c12cf42f4d1b5d438bbb"
  }
}
