fb_lead_easybroker_chatwoot_final_corregido.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1o0gBWM1Qh37XCGL1xzI1ZzBz5nA4ixYsC6H_vVz1FoA/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 914132591,
          "mode": "list",
          "cachedResultName": "caucel 1.58mdp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o0gBWM1Qh37XCGL1xzI1ZzBz5nA4ixYsC6H_vVz1FoA/edit#gid=914132591"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        736,
        -1312
      ],
      "id": "1372ea56-b5ef-4beb-a5f6-a6447a41f91c",
      "name": "Google Sheets Trigger (Caucel)",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pCovOCRQyRuiMC7P",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "nombre_hoja",
              "value": "caucel 1.58mdp",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -1312
      ],
      "id": "6b6ff070-dd05-4aca-b5aa-ef40fc91f5cb",
      "name": "Set_Hoja_Caucel"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1o0gBWM1Qh37XCGL1xzI1ZzBz5nA4ixYsC6H_vVz1FoA/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1046120363,
          "mode": "list",
          "cachedResultName": "test centro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o0gBWM1Qh37XCGL1xzI1ZzBz5nA4ixYsC6H_vVz1FoA/edit#gid=1046120363"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        736,
        -1120
      ],
      "id": "2a6cc34d-5e33-44fd-ba9e-15302085137e",
      "name": "Google Sheets Trigger (Centro)",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "pCovOCRQyRuiMC7P",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2",
              "name": "nombre_hoja",
              "value": "test centro",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -1120
      ],
      "id": "b46e57aa-3acd-4e28-b743-a815e1a977dd",
      "name": "Set_Hoja_Centro"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8198d589-d0e1-45ff-9a3e-eb6e9bac1279",
              "name": "nombre_hoja",
              "value": "={{ $json.nombre_hoja }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -1216
      ],
      "id": "695496b9-670b-44e3-b257-3d4130673a95",
      "name": "Punto_de_Union"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "bG1NHhjVNevaCh4S",
          "mode": "list",
          "cachedResultName": "Config_Campanas",
          "cachedResultUrl": "/projects/RAwRZkQpyADtrVfU/datatables/bG1NHhjVNevaCh4S"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "palabra_clave_campana",
              "keyValue": "={{ $json.nombre_hoja }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1376,
        -1344
      ],
      "id": "3b4e9106-e176-4997-9e70-75e521302a97",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// 1. Usamos '.item' para procesar múltiples leads sin que se mezclen\nconst row = $('Punto_de_Union').item.json;\n\nif (!row || (!row.phone_number && !row.telefono)) {\n  throw new Error(\"🛑 DETENIDO: El Google Sheet mandó una fila vacía.\");\n}\n\nconst config = $json || {};\n\n// 3. Limpieza de teléfono\nconst rawPhone = String(row.phone_number || row.telefono || '').trim();\nlet normalized = rawPhone.replace(/^\\s*:?p\\s*/i, '').replace(/[^\\d+]/g, '');\nlet digits = normalized.replace(/\\D/g, '');\nlet phone10 = digits;\n\nif (digits.length === 10) { phone10 = digits; digits = `521${digits}`; } \nelse if (digits.length === 12 && digits.startsWith('52')) { phone10 = digits.substring(2); digits = `521${phone10}`; } \nelse if (digits.length === 13 && digits.startsWith('521')) { phone10 = digits.substring(3); }\nnormalized = `+${digits}`;\n\n// Mantenemos esto por si se usa en la nota interna (si no existe, no pasa nada)\nconst paymentMethod = row['¿con_qué_forma_de_pago_o_crédito_planeas_comprar?'] || row['¿cuál_es_tu_método_de_compra_o_tipo_de_crédito?'] || 'No especificado';\nconst buyTimeline = row['¿para_cuándo_necesitas_tener_lista_tu_casa?'] || row['¿qué_tan_pronto_te_gustaría_mudarte?'] || 'No especificado';\nconst campaign = String(row.campaign_name || config.nombre_hoja || '').trim();\n\n\n// -----------------------------------------------------------------\n// 🏷️ CREADOR DINÁMICO DE ETIQUETAS (A PRUEBA DE CUALQUIER FORMULARIO)\n// -----------------------------------------------------------------\nlet arrayEtiquetas = [];\n\n// A. ETIQUETAS FIJAS Y MÁGICAS (Desde la columna \"etiquetas\" de tu tabla)\nif (config.etiquetas) {\n  const rawLabels = String(config.etiquetas).split(',');\n  for (let lbl of rawLabels) {\n    let cleanLbl = lbl.trim();\n    if (cleanLbl === '[propiedad]') cleanLbl = config.property_title || 'propiedad';\n    if (cleanLbl === '[campaña]') cleanLbl = campaign;\n    if (cleanLbl === '[zona]') cleanLbl = config.property_zone || 'zona_general';\n    \n    if (cleanLbl) {\n       arrayEtiquetas.push(cleanLbl.toLowerCase().replace(/[\\s/]/g, '_'));\n    }\n  }\n}\n\n// B. ETIQUETAS DESDE EL GOOGLE SHEET (Desde la columna \"columnas_para_etiquetas\" de tu tabla)\nif (config.columnas_para_etiquetas) {\n  // Separamos por comas las columnas que pediste leer\n  const columnasSheet = String(config.columnas_para_etiquetas).split(',');\n  \n  for (let col of columnasSheet) {\n    let nombreColumnaExacto = col.trim();\n    \n    // Si la hoja de Google Sheets realmente tiene esa columna para este cliente...\n    if (row[nombreColumnaExacto]) {\n        let respuestaCliente = String(row[nombreColumnaExacto]).trim();\n        \n        // Formateamos la respuesta del cliente para que sea una etiqueta válida de Chatwoot\n        // (Ejemplo: pasa de \"Crédito Infonavit\" a \"crédito_infonavit\")\n        let etiquetaLimpia = respuestaCliente.toLowerCase().replace(/[\\s,]+/g, '_').replace(/[^a-z0-9_áéíóúñ]/g, '');\n        \n        if(etiquetaLimpia) {\n            arrayEtiquetas.push(etiquetaLimpia);\n        }\n    }\n  }\n}\n\n// Si no configuraste ninguna etiqueta en la tabla, mandamos una por defecto\nif (arrayEtiquetas.length === 0) arrayEtiquetas = ['facebook_lead'];\n// -----------------------------------------------------------------\n\n\n// 🤖 CONSTRUCTOR DINÁMICO DE PLANTILLAS \nconst tipoPlantilla = String(config.tipo_plantilla || 'simple').toLowerCase().trim(); \n\nlet chatwootTemplateParams = {\n  name: config.template_name || 'saludo_simpe',\n  category: \"MARKETING\",\n  language: config.template_language || 'es_MX'\n};\n\nconst traducirVariable = (valorDeTabla) => {\n  if (!valorDeTabla) return \"\";\n  const valor = String(valorDeTabla).trim();\n  if (valor === \"[nombre]\") return row.full_name ? String(row.full_name).split(' ')[0] : 'Cliente';\n  if (valor === \"[propiedad]\") return config.property_title || 'nuestros desarrollos';\n  if (valor === \"[campaña]\") return campaign;\n  if (valor === \"[zona]\") return config.property_zone || 'la zona';\n  return valor; \n};\n\nif (tipoPlantilla === 'con_variables' || tipoPlantilla === 'multimedia') {\n  chatwootTemplateParams.processed_params = {};\n  if (config.variable_1) chatwootTemplateParams.processed_params[\"1\"] = traducirVariable(config.variable_1);\n  if (config.variable_2) chatwootTemplateParams.processed_params[\"2\"] = traducirVariable(config.variable_2);\n  if (config.variable_3) chatwootTemplateParams.processed_params[\"3\"] = traducirVariable(config.variable_3);\n  if (config.variable_4) chatwootTemplateParams.processed_params[\"4\"] = traducirVariable(config.variable_4);\n  if (config.variable_5) chatwootTemplateParams.processed_params[\"5\"] = traducirVariable(config.variable_5);\n}\n\nconst payloadWhatsApp = {\n  content: \"Enviando plantilla interactiva...\",\n  message_type: \"outgoing\",\n  private: false,\n  content_type: \"text\", \n  template_params: chatwootTemplateParams\n};\n\nif (config.url_imagen) { payloadWhatsApp.attachments = [{ data_url: config.url_imagen }]; }\nif (config.url_boton) { payloadWhatsApp.template_params.action_link = config.url_boton; }\n\n// FUSIÓN FINAL\nreturn [{\n  json: {\n    ...row,\n    phone_original: rawPhone,\n    phone_clean: normalized,\n    phone_digits: digits,\n    phone_10_digits: phone10,\n    payment_method: paymentMethod,\n    buy_timeline: buyTimeline,\n    campaign_name: campaign,\n    \n    chatwoot_payload: payloadWhatsApp,\n    chatwoot_labels: arrayEtiquetas, // Aquí viajan todas las etiquetas que el código recolectó\n    \n    property_id: config.property_id || '',\n    property_title: config.property_title || 'Propiedad VINA',\n    property_zone: config.property_zone || 'General',\n    template_name_selected: config.template_name || 'saludo_simpe',\n    source_name: `Facebook Lead Ads - ${config.property_zone || 'General'}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -1136
      ],
      "id": "170c3a03-b5a3-4c68-a491-3c670a26b01f",
      "name": "Normalizar_y_mapear_propiedad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.easybroker.com/v1/contact_requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Authorization",
              "value": "b6vq11mphmowymtjjkz84er9j4n2j6"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const data = $('Normalizar_y_mapear_propiedad').item.json; const body = { name: data.full_name, phone: data.phone_10_digits, message: `Forma de pago: ${data.payment_method}\\nCuándo planea comprar: ${data.buy_timeline}\\nCampaña: ${data.campaign_name}\\nAnuncio: ${data.ad_name}`, source: data.source_name }; if (data.property_id) { body.property_id = data.property_id; } return body; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1824,
        -1328
      ],
      "id": "2ee6886b-e207-44a5-936f-43a862463948",
      "name": "EasyBroker_Create_Contact_Request"
    },
    {
      "parameters": {
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts/search?q={{ encodeURIComponent($('Normalizar_y_mapear_propiedad').item.json.phone_clean) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        -768
      ],
      "id": "722db7a7-3d6a-4b81-938a-6555d2d192ba",
      "name": "Chatwoot_Search_Contact_By_Phone",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalizar_y_mapear_propiedad').item.json;\nconst response = $json;\nconst payload = Array.isArray(response.payload) ? response.payload : [];\nconst clean = String(base.phone_clean || '');\nconst digits = String(base.phone_digits || '');\nconst found = payload.find((c) => { const phone = String(c.phone_number || ''); const phoneDigits = phone.replace(/\\D/g, ''); return phone === clean || phoneDigits === digits || phoneDigits === `52${digits}`; }) || payload[0] || null;\nconst inbox4 = found?.contact_inboxes?.find(ci => Number(ci?.inbox?.id) === 4) || null;\nreturn [{\n  json: {\n    ...base,\n    chatwoot_contact_exists: Boolean(found),\n    chatwoot_contact_id: found?.id || null,\n    chatwoot_contact_source_id: inbox4?.source_id || null,\n    chatwoot_contact_raw: found || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -768
      ],
      "id": "8481ee22-958f-4fb2-8ed4-44c2cc87c7f3",
      "name": "Resolver_contacto_chatwoot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{$json.chatwoot_contact_exists}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        -768
      ],
      "id": "455db081-a40a-40a3-b852-bfbd7b572350",
      "name": "IF_Contacto_Existe"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts/{{$json.chatwoot_contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{$json.full_name}}\",\n  \"phone_number\": \"{{$json.phone_clean}}\",\n  \"custom_attributes\": {\n    \"source\": \"facebook_lead_ads\",\n    \"payment_method\": \"{{$json.payment_method}}\",\n    \"buy_timeline\": \"{{$json.buy_timeline}}\",\n    \"property_title\": \"{{$json.property_title}}\",\n    \"chatwoot_contact_status\": \"existing_updated\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        -736
      ],
      "id": "184fd27c-a4ea-450b-b21f-bd890fb8bdb0",
      "name": "Chatwoot_Update_Existing_Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inbox_id\": 4,\n  \"name\": \"{{$json.full_name}}\",\n  \"phone_number\": \"{{$json.phone_clean}}\",\n  \"custom_attributes\": {\n    \"source\": \"facebook_lead_ads\",\n    \"payment_method\": \"{{$json.payment_method}}\",\n    \"buy_timeline\": \"{{$json.buy_timeline}}\",\n    \"property_title\": \"{{$json.property_title}}\",\n    \"chatwoot_contact_status\": \"created\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        -544
      ],
      "id": "afbb343a-fc0c-46a6-ad21-363791ff896b",
      "name": "Chatwoot_Create_Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts/{{$json.payload?.contact?.id || $json.id}}/contact_inboxes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inbox_id\": 4,\n  \"source_id\": \"{{$('Normalizar_y_mapear_propiedad').item.json.phone_digits}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        -544
      ],
      "id": "53a45b6d-a3b7-4dfd-8aa8-fc60a8797fa4",
      "name": "Vincular_WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prior = $('Resolver_contacto_chatwoot').item.json;\nconst response = $json || {};\nlet createdNode = {};\ntry { createdNode = $('Chatwoot_Create_Contact').item.json || {}; } catch (e) {}\nconst payload = response.payload || {};\nconst contactFromPayload = payload.contact || null;\nconst candidates = [contactFromPayload, response.contact, response.data?.contact, response].filter(Boolean);\nlet contact = null;\nfor (const c of candidates) {\n  if (c && typeof c === 'object' && !Array.isArray(c)) { contact = c; break; }\n}\nconst contactId = Number(prior.chatwoot_contact_id || contact?.id || createdNode.payload?.contact?.id || createdNode.id || 0) || null;\nconst inboxes = Array.isArray(contact?.contact_inboxes) ? contact.contact_inboxes : [];\nconst inbox4 = inboxes.find(ci => Number(ci?.inbox?.id) === 4 || Number(ci?.inbox_id) === 4);\nconst sourceId = String(prior.chatwoot_contact_source_id || inbox4?.source_id || $('Normalizar_y_mapear_propiedad').item.json.phone_digits || '').trim() || null;\nreturn [{\n  json: {\n    ...prior,\n    chatwoot_contact_id: contactId,\n    chatwoot_contact_source_id: sourceId,\n    chatwoot_contact_status: prior.chatwoot_contact_exists ? 'existing_updated' : 'created',\n    chatwoot_contact_raw_resolved: contactFromPayload || contact || response,\n    needs_source_lookup: !sourceId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -544
      ],
      "id": "6df2dba4-9a5e-4e5d-9be6-5011be775a64",
      "name": "Normalizar_ids_contacto_chatwoot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{!$json.needs_source_lookup}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        -672
      ],
      "id": "88b8e6a0-67c8-459b-9f5a-61c4a5b38b1e",
      "name": "IF_Tiene_Source_ID"
    },
    {
      "parameters": {
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts/{{$json.chatwoot_contact_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        -688
      ],
      "id": "2c432b22-eba1-4690-b8ec-483c97b7e65c",
      "name": "Chatwoot_Get_Contact_Detail",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalizar_ids_contacto_chatwoot').item.json;\nconst response = $json || {};\nconst contact = response.payload || response;\nconst inboxes = Array.isArray(contact?.contact_inboxes) ? contact.contact_inboxes : [];\nconst inbox4 = inboxes.find(ci => Number(ci?.inbox?.id) === 4 || Number(ci?.inbox_id) === 4);\nconst sourceId = String(inbox4?.source_id || '').trim();\nreturn [{\n  json: {\n    ...base,\n    chatwoot_contact_source_id: sourceId,\n    needs_source_lookup: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -688
      ],
      "id": "e2d093b4-091e-46ff-9a6f-c43dd663d634",
      "name": "Resolver_Source_ID_Desde_Detalle"
    },
    {
      "parameters": {
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts/{{$json.chatwoot_contact_id}}/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1936,
        -912
      ],
      "id": "d6f60534-101b-4a50-92ff-977d7ec5542c",
      "name": "Chatwoot_Get_Conversations",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalizar_ids_contacto_chatwoot').item.json;\nconst response = $('Chatwoot_Get_Conversations').item.json || {};\nconst conversations = Array.isArray(response.payload) ? response.payload : (Array.isArray(response) ? response : []);\nlet existingConv = conversations.find(c => Number(c.inbox_id) === 4 && String(c.status) !== 'resolved');\nif (!existingConv) { existingConv = conversations.find(c => Number(c.inbox_id) === 4); }\nreturn [{\n  json: {\n    ...base,\n    has_active_conversation: !!existingConv,\n    chatwoot_conversation_id_existing: existingConv ? existingConv.id : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -912
      ],
      "id": "7b1e1bf0-5ccc-46b3-a916-b3657201c8c7",
      "name": "Evaluar_Conversacion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond3",
              "leftValue": "={{$json.has_active_conversation}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        -912
      ],
      "id": "fe053923-d827-4bb0-bdbb-7e3af443f0fb",
      "name": "IF_Existe_Conversacion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_id\": \"{{$('Normalizar_y_mapear_propiedad').item.json.phone_digits}}\",\n  \"inbox_id\": 4,\n  \"contact_id\": {{$json.chatwoot_contact_id}},\n  \"status\": \"open\",\n  \"custom_attributes\": {\n    \"source\": \"facebook_lead_ads\",\n    \"payment_method\": \"{{$json.payment_method}}\",\n    \"property_title\": \"{{$json.property_title}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2368,
        -656
      ],
      "id": "e005379a-0ebe-45d9-b3b6-cc92d31525f8",
      "name": "Chatwoot_Create_Conversation",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let createdId = null;\ntry { const createData = $('Chatwoot_Create_Conversation').item.json || {}; createdId = createData.id || createData.conversation_id || createData.payload?.id; } catch (e) {}\nlet existingId = null;\ntry { const evalData = $('Evaluar_Conversacion').item.json || {}; existingId = evalData.chatwoot_conversation_id_existing; } catch(e) {}\nconst finalId = createdId || existingId;\nif (!finalId) throw new Error('No se encontró un ID de conversación.');\nconst base = $('Normalizar_ids_contacto_chatwoot').item.json;\nreturn [{\n  json: {\n    ...base,\n    chatwoot_conversation_id: finalId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        -816
      ],
      "id": "293bb790-9c64-407b-8496-8beb6c3091ab",
      "name": "Normalizar_conversation_id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations/{{ $('Normalizar_conversation_id').item.json.chatwoot_conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Normalizar_y_mapear_propiedad').item.json.chatwoot_payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2320,
        -1264
      ],
      "id": "becdbb8b-9fd2-4adb-b112-d67b5aac5e67",
      "name": "Chatwoot_Send_Initial_Template",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations/{{ $('Normalizar_conversation_id').item.json.chatwoot_conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Lead procesado desde Google Sheets/Facebook Ads\\n\\nNombre: {{$('Normalizar_y_mapear_propiedad').item.json.full_name}}\\nTeléfono: {{$('Normalizar_y_mapear_propiedad').item.json.phone_clean}}\\nPropiedad: {{$('Normalizar_y_mapear_propiedad').item.json.property_title}}\\nEasyBroker status: {{$('EasyBroker_Create_Contact_Request').item.json.status || 'sin_status'}}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true,\n  \"content_type\": \"text\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2544,
        -1264
      ],
      "id": "c9b98e9f-1106-4538-b1eb-e1793ac4ce3b",
      "name": "Chatwoot_Private_Note",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations/{{ $('Normalizar_conversation_id').item.json.chatwoot_conversation_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ labels: $('Normalizar_y_mapear_propiedad').item.json.chatwoot_labels }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2768,
        -1264
      ],
      "id": "bcf9dde1-33d6-4789-8879-bde798eab163",
      "name": "Chatwoot_Add_Labels",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHB9lH3QVctMzrps",
          "name": "chtawoot api"
        }
      }
    },
    {
      "parameters": {
        "content": "EASYBROKER",
        "height": 304,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        -1392
      ],
      "id": "89388795-d15f-438c-a416-cf67c7a0822a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "INICIO\n",
        "height": 496,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        -1408
      ],
      "typeVersion": 1,
      "id": "89f9323e-3d44-4f67-905b-20598df31a6d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "##CHATWOOT API",
        "height": 528,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -848
      ],
      "typeVersion": 1,
      "id": "b123508a-e675-46f2-849d-41fee4de5120",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "##CHATWOOT API",
        "height": 528,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        -976
      ],
      "typeVersion": 1,
      "id": "46b78079-598d-45e9-bb0d-e1f4bddd084f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "ENVIAMOS DATOS CHATWOOT",
        "height": 224,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        -1328
      ],
      "typeVersion": 1,
      "id": "8b649f53-47b9-4198-99ea-7c47f7a64d64",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Google Sheets Trigger (Caucel)": {
      "main": [
        [
          {
            "node": "Set_Hoja_Caucel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Hoja_Caucel": {
      "main": [
        [
          {
            "node": "Punto_de_Union",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger (Centro)": {
      "main": [
        [
          {
            "node": "Set_Hoja_Centro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Hoja_Centro": {
      "main": [
        [
          {
            "node": "Punto_de_Union",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Punto_de_Union": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Normalizar_y_mapear_propiedad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar_y_mapear_propiedad": {
      "main": [
        [
          {
            "node": "EasyBroker_Create_Contact_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EasyBroker_Create_Contact_Request": {
      "main": [
        [
          {
            "node": "Chatwoot_Search_Contact_By_Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Search_Contact_By_Phone": {
      "main": [
        [
          {
            "node": "Resolver_contacto_chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver_contacto_chatwoot": {
      "main": [
        [
          {
            "node": "IF_Contacto_Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Contacto_Existe": {
      "main": [
        [
          {
            "node": "Chatwoot_Update_Existing_Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot_Create_Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Update_Existing_Contact": {
      "main": [
        [
          {
            "node": "Normalizar_ids_contacto_chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Create_Contact": {
      "main": [
        [
          {
            "node": "Vincular_WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vincular_WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar_ids_contacto_chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar_ids_contacto_chatwoot": {
      "main": [
        [
          {
            "node": "IF_Tiene_Source_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Tiene_Source_ID": {
      "main": [
        [
          {
            "node": "Chatwoot_Get_Conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot_Get_Contact_Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Get_Contact_Detail": {
      "main": [
        [
          {
            "node": "Resolver_Source_ID_Desde_Detalle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver_Source_ID_Desde_Detalle": {
      "main": [
        [
          {
            "node": "Chatwoot_Get_Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Get_Conversations": {
      "main": [
        [
          {
            "node": "Evaluar_Conversacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar_Conversacion": {
      "main": [
        [
          {
            "node": "IF_Existe_Conversacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Existe_Conversacion": {
      "main": [
        [
          {
            "node": "Normalizar_conversation_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chatwoot_Create_Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Create_Conversation": {
      "main": [
        [
          {
            "node": "Normalizar_conversation_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar_conversation_id": {
      "main": [
        [
          {
            "node": "Chatwoot_Send_Initial_Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Send_Initial_Template": {
      "main": [
        [
          {
            "node": "Chatwoot_Private_Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Private_Note": {
      "main": [
        [
          {
            "node": "Chatwoot_Add_Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot_Add_Labels": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6c96fb37a85ef9ad7930628f07f9ddf776c4c43c973c12cf42f4d1b5d438bbb"
  }
}
