fb_lead_easybroker_chatwoot_final_corregido.json
{"name":"fb_lead_to_easybroker_chatwoot_caucel_corregido","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1o0gBWM1Qh37XCGL1xzI1ZzBz5nA4ixYsC6H_vVz1FoA/edit?gid=1845513167#gid=1845513167","mode":"url"},"sheetName":{"__rl":true,"value":914132591,"mode":"list","cachedResultName":"caucel 1.58mdp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1o0gBWM1Qh37XCGL1xzI1ZzBz5nA4ixYsC6H_vVz1FoA/edit#gid=914132591"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1080,300],"id":"4729ffb0-ed29-40b8-af4f-c57438a84de1","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"pCovOCRQyRuiMC7P","name":"Google Sheets Trigger account"}}},{"parameters":{"jsCode":"const row = $json;\nconst rawPhone = String(row.phone_number || '').trim();\nlet phone = rawPhone.replace(/^p:/, '').trim();\nif (/^52\\d{10}$/.test(phone)) phone = `+${phone}`;\nif (/^\\d{10}$/.test(phone)) phone = `+52${phone}`;\nif (!phone.startsWith('+')) phone = `+${phone.replace(/^\\+/, '')}`;\nconst campaign = String(row.campaign_name || '').toLowerCase().trim();\nconst ad = String(row.ad_name || '').toLowerCase().trim();\nconst form = String(row.form_name || '').toLowerCase().trim();\nlet property = {\n  property_id: 'REEMPLAZAR_PUBLIC_ID_CAUCEL',\n  property_title: 'Casa en Caucel',\n  property_zone: 'Caucel',\n  template_name: 'caucel_info',\n  template_language: 'es_MX',\n  source_name: 'Facebook Lead Ads - Caucel'\n};\nif (campaign.includes('caucel') || ad.includes('caucel') || form.includes('caucel')) {\n  property = {\n    property_id: 'REEMPLAZAR_PUBLIC_ID_CAUCEL',\n    property_title: 'Casa en Caucel',\n    property_zone: 'Caucel',\n    template_name: 'caucel_info',\n    template_language: 'es_MX',\n    source_name: 'Facebook Lead Ads - Caucel'\n  };\n}\nconst paymentMethod = row['¿con_qué_forma_de_pago_o_crédito_planeas_comprar?'] || row['¿cuál_es_tu_método_de_compra_o_tipo_de_crédito?'] || '';\nconst buyTimeline = row['¿para_cuándo_necesitas_tener_lista_tu_casa?'] || row['¿qué_tan_pronto_te_gustaría_mudarte?'] || '';\nreturn [{\n  json: {\n    ...row,\n    phone_clean: phone,\n    payment_method: paymentMethod,\n    buy_timeline: buyTimeline,\n    ...property\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-840,300],"id":"4790792f-11c2-4373-9b42-1de929ce17a5","name":"Normalizar_y_mapear_propiedad"},{"parameters":{"method":"POST","url":"https://api.easybroker.com/v1/contact_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Authorization","value":"b6vq11mphmowymtjjkz84er9j4n2j6"},{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"name\": \"{{$json.full_name}}\",\n  \"phone\": \"{{$json.phone_clean.replace('+', '')}}\",\n  \"property_id\": \"{{$json.property_id}}\",\n  \"message\": \"Forma de pago: {{$json.payment_method}}\\nCuándo planea comprar: {{$json.buy_timeline}}\\nCampaña: {{$json.campaign_name}}\\nAnuncio: {{$json.ad_name}}\",\n  \"source\": \"{{$json.source_name}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-600,300],"id":"a2fe369b-271e-46c8-bf55-abe687eea8ff","name":"EasyBroker_Create_Contact_Request"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-360,300],"id":"d8cff3c0-3330-4f47-a3a5-a3de951792b7","name":"Merge_row_y_easybroker"},{"parameters":{"method":"POST","url":"https://crm.vinapropiedades.com.mx/api/v1/accounts/1/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"inbox_id\": 4,\n  \"name\": \"{{$json.full_name}}\",\n  \"email\": \"\",\n  \"phone_number\": \"{{$json.phone_clean}}\",\n  \"identifier\": \"{{$json.id}}\",\n  \"custom_attributes\": {\n    \"source\": \"facebook_lead_ads\",\n    \"platform\": \"{{$json.platform}}\",\n    \"campaign_id\": \"{{$json.campaign_id}}\",\n    \"campaign_name\": \"{{$json.campaign_name}}\",\n    \"adset_id\": \"{{$json.adset_id}}\",\n    \"adset_name\": \"{{$json.adset_name}}\",\n    \"ad_id\": \"{{$json.ad_id}}\",\n    \"ad_name\": \"{{$json.ad_name}}\",\n    \"form_id\": \"{{$json.form_id}}\",\n    \"form_name\": \"{{$json.form_name}}\",\n    \"lead_status\": \"{{$json.lead_status}}\",\n    \"state\": \"{{$json.state}}\",\n    \"payment_method\": \"{{$json.payment_method}}\",\n    \"buy_timeline\": \"{{$json.buy_timeline}}\",\n    \"property_id\": \"{{$json.property_id}}\",\n    \"property_title\": \"{{$json.property_title}}\",\n    \"property_zone\": \"{{$json.property_zone}}\",\n    \"easybroker_source\": \"{{$json.source_name}}\",\n    \"sheet_row_id\": \"{{$json.id}}\",\n    \"created_time\": \"{{$json.created_time}}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-120,300],"id":"1076645d-36b7-437c-873d-bc2685989d0e","name":"Chatwoot_Create_Contact","credentials":{"httpHeaderAuth":{"id":"cHB9lH3QVctMzrps","name":"chtawoot api"}}},{"parameters":{"jsCode":"const response = $json;\nconst contact = Array.isArray(response.payload) ? response.payload[0] : response;\nconst contactInboxes = Array.isArray(contact.contact_inboxes) ? contact.contact_inboxes : [];\nconst inbox4 = contactInboxes.find(ci => Number(ci?.inbox?.id) === 4);\nreturn [{\n  json: {\n    ...$('Normalizar_y_mapear_propiedad').item.json,\n    chatwoot_contact_id: contact.id || null,\n    chatwoot_contact_source_id: inbox4?.source_id || null,\n    chatwoot_contact_raw: contact\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[120,300],"id":"2972dd86-429b-40ef-95f8-d4e9f2d41cce","name":"Extraer_ids_contacto_chatwoot"},{"parameters":{"jsCode":"if (!$json.chatwoot_contact_id) {\n  throw new Error('No se pudo obtener chatwoot_contact_id desde Chatwoot_Create_Contact');\n}\nif (!$json.chatwoot_contact_source_id) {\n  throw new Error('No se pudo obtener chatwoot_contact_source_id del inbox 4 al crear el contacto. Revisa la respuesta de Chatwoot_Create_Contact.');\n}\nreturn [{\n  json: {\n    ...$json,\n    chatwoot_contact_id: Number($json.chatwoot_contact_id),\n    chatwoot_contact_source_id: String($json.chatwoot_contact_source_id)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,300],"id":"4bc53e25-5c06-4a47-9098-01a35281b33e","name":"Normalizar_source_id"},{"parameters":{"method":"POST","url":"https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"source_id\": \"{{$json.chatwoot_contact_source_id}}\",\n  \"inbox_id\": 4,\n  \"contact_id\": {{$json.chatwoot_contact_id}},\n  \"status\": \"open\",\n  \"custom_attributes\": {\n    \"source\": \"facebook_lead_ads\",\n    \"campaign_name\": \"{{$json.campaign_name}}\",\n    \"ad_name\": \"{{$json.ad_name}}\",\n    \"payment_method\": \"{{$json.payment_method}}\",\n    \"buy_timeline\": \"{{$json.buy_timeline}}\",\n    \"property_id\": \"{{$json.property_id}}\",\n    \"property_title\": \"{{$json.property_title}}\",\n    \"property_zone\": \"{{$json.property_zone}}\",\n    \"sheet_row_id\": \"{{$json.id}}\"\n  },\n  \"message\": {\n    \"content\": \"Hola {{$json.full_name.split(' ')[0]}}, gracias por tu interés en {{$json.property_title}}.\",\n    \"template_params\": {\n      \"name\": \"{{$json.template_name}}\",\n      \"category\": \"MARKETING\",\n      \"language\": \"{{$json.template_language}}\",\n      \"processed_params\": {}\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[600,300],"id":"17be8805-9720-4db5-8071-e91ffb4cb9d6","name":"Chatwoot_Create_Conversation_And_Template","credentials":{"httpHeaderAuth":{"id":"cHB9lH3QVctMzrps","name":"chtawoot api"}}},{"parameters":{"method":"POST","url":"https://crm.vinapropiedades.com.mx/api/v1/accounts/1/conversations/{{ $json.id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"content\": \"Lead nuevo de Facebook Ads\\n\\nNombre: {{$('Normalizar_y_mapear_propiedad').item.json.full_name}}\\nTeléfono: {{$('Normalizar_y_mapear_propiedad').item.json.phone_clean}}\\nCampaña: {{$('Normalizar_y_mapear_propiedad').item.json.campaign_name}}\\nAnuncio: {{$('Normalizar_y_mapear_propiedad').item.json.ad_name}}\\nPropiedad: {{$('Normalizar_y_mapear_propiedad').item.json.property_title}}\\nForma de pago: {{$('Normalizar_y_mapear_propiedad').item.json.payment_method}}\\nTiempo de compra: {{$('Normalizar_y_mapear_propiedad').item.json.buy_timeline}}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true,\n  \"content_type\": \"text\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[840,300],"id":"52292a92-923c-4c12-ad33-dd116426a3a8","name":"Chatwoot_Private_Note","credentials":{"httpHeaderAuth":{"id":"cHB9lH3QVctMzrps","name":"chtawoot api"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Normalizar_y_mapear_propiedad","type":"main","index":0}]]},"Normalizar_y_mapear_propiedad":{"main":[[{"node":"EasyBroker_Create_Contact_Request","type":"main","index":0},{"node":"Merge_row_y_easybroker","type":"main","index":0}]]},"EasyBroker_Create_Contact_Request":{"main":[[{"node":"Merge_row_y_easybroker","type":"main","index":1}]]},"Merge_row_y_easybroker":{"main":[[{"node":"Chatwoot_Create_Contact","type":"main","index":0}]]},"Chatwoot_Create_Contact":{"main":[[{"node":"Extraer_ids_contacto_chatwoot","type":"main","index":0}]]},"Extraer_ids_contacto_chatwoot":{"main":[[{"node":"Normalizar_source_id","type":"main","index":0}]]},"Normalizar_source_id":{"main":[[{"node":"Chatwoot_Create_Conversation_And_Template","type":"main","index":0}]]},"Chatwoot_Create_Conversation_And_Template":{"main":[[{"node":"Chatwoot_Private_Note","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true,"instanceId":"d6c96fb37a85ef9ad7930628f07f9ddf776c4c43c973c12cf42f4d1b5d438bbb"}}